.random-container-b1 {
    background-image: url('../../public/bluebg1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random-container-b2 {
    background-image: url('../../public/bluebg2.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random-container-b3 {
    background-image: url('../../public/bluebg3.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random-container-b4 {
    background-image: url('../../public/bluebg4.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random-container-b5 {
    background-image: url('../../public/bluebg5.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.random-game {
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 35vw;
    height: 75vh;
    border: solid 2px black;
    overflow: auto;
    border-radius: 10px;
    font-size: 0.9em;
}

.center-text-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.random-inputs {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}

.random-inputs > input {
    text-indent: 0.3em;
    width: 25vw;
    height: 5vh;
    font-size: 1.5em;
    opacity: 0.8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: solid 2px black;
}

.random-inputs > input::placeholder {
    font-size: 0.75em;
}

.random-inputs > button {
    width: 10vw;
    height: 5.6vh;
    font-size: 0.85em;
    background-color: #0971f1;
    color: #ffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.random-inputs > button:hover {
    background-color: #0a65d4;
}

.random-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 5vh;
    height: 6vh;
}


/* .leave-buttons {
    justify-content: center;
    display: flex;
    gap: 100px;
}

.leave-buttons-buttons {
    font-size: 20px;
    width: 150px;
    height: 40px;
    align-self: center;
} */
::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e7bda;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
  }

@media screen and (max-width: 768px) {
    .random-game {
        width: 75vw;
    }

    #guess-input {
        width: 55vw;
    }

    #submit-guess-btn {
        width: 20vw;
    }

}